@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #242333;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: 'Lato', sans-serif;
  margin: 0;
}

.movie-container {
  margin: 20px 0;
}

.movie-container select {
  background-color: #fff;
  border: 0;
  border-radius: 5px;
  font-size: 14px;
  margin-left: 10px;
  padding: 5px 15px 5px 15px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.container {
  perspective: 1000px;
  margin-bottom: 30px;
}

.seat {
  background-color: #444451;
  height: 12px;
  width: 15px;
  margin: 3px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.seat:not(.occupied):hover > .msg-info {
  opacity: 1;
  visibility: visible;
}

.infoSeat {
  background-color: #444451;
  height: 12px;
  width: 15px;
}

.premium {
  background-color: #AAD9AA;
}

div.seat.deluxe {
  background-color: #D9AAD9;
  margin-left: 4px;
  margin-right: 4px;
}

.standard {
  background-color:#ccc;
}



.msg-info {
  width: 120px;
  padding: 12px;
  display: inline-block;
  position: relative;
  text-align: center;
  top: 175%;
  left: 50%;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s;
  font-size: 12px;
  background-color: rgba(255, 255, 255, 0.9);
  color: #242333;
  transform: translateX(-50%);
  border-radius: 6%;
}

.msg-info::before {
  content: '';
  position: absolute;
  top: -18%;
  left: 54.5%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.9) transparent transparent transparent;
  transform: translateX(-54.5%) rotateX(180deg);
}

.seat.selected {
  background-color: #6feaf6 !important;
}

.seat.occupied {
  background-color: #22344D;
}

.seat:nth-of-type(2) {
  margin-right: 18px;
}

.seat:nth-last-of-type(2) {
  margin-left: 18px;
}

.seat:not(.occupied):hover {
  cursor: pointer;
  transform: scale(1.2);
}

.showcase .seat:not(.occupied):hover {
  cursor: default;
  transform: scale(1);
}

.showcase {
  background: rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  border-radius: 5px;
  color: #777;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.showcase li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

.showcase li small {
  margin-left: 2px;
}

.row {
  display: flex;
}

.screen {
  background-color: #fff;
  height: 70px;
  width: 100%;
  margin: 15px 0;
  transform: rotateX(-45deg);
  box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
}

p.text {
  margin: 5px 0;
}

p.text span {
  color: #6feaf6;
}